@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;

}

header {
	background-color: #FFED74;
	border-bottom: 1px black solid;
	padding: 20px;
}

nav {
	font-size: 1.2em;
	width: 100%;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	padding: 2em 15em;	
	
}

nav a {
	text-decoration: none;
	color: #000000; 
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	padding: 0 .4em;
}

a:hover {color: #aaaaaa;	
}

body {
	font-size: 25px;
}

div {
	border: 1px black solid;
	padding: 20px;
}

#hero { 
	display: block;
	width: 100%;
	margin: 0 auto;
	background-color:#FFED74;
	border: none;
	text-align: center;
}

h1
	{ 
	color: rgb(255,113,0);
	text-align: center;
	font-family: 'Oleo Script', cursive;
	font-size: 3em;

}

h2
{
	color: rgb(255,113,0);
	text-align: center;
	font-family: 'Oleo Script', cursive;
	font-size: 2em
}

section 
{
	border: 1px black solid;
	padding: 20px;
	}

.maincontent {
	border: 1px black solid;
	padding: 20px;
}

.right {
	padding: 0 60px;
	float: right;
	width: 50%;

}

.full_img {
	max-width: 100%;
	width: 60%;
}

.left {
	padding:20px;
	float: left;
	width: 40%;
	padding: 40px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.map {
	clear: both;
	text-align: center;
	vertical-align: middle;
}

img {
	vertical-align: middle;
}

h3
{
	font-family: 'Oleo Script', cursive;	
	font-size: 1.25em;
	padding: .8em .8em;
	text-transform: uppercase;
	border-bottom: 4px double black;
	display: inline-block;
	font-weight: 800;
	text-align: center;
}

p, ul
{
	text-align: left;
	color: rgb(110,12,232);
	font-size: 22px;
	font-family: 'Slabo', serif;
	padding-top: 20px;
	padding-bottom: 20px;
}


footer{
	background-color: #aaaaaa;
	border: 1px black solid;
	padding: 20px; 
}