@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;

}

header {
	background-color: #FFED74;
	border-bottom: 1px black solid;
	padding: 20px;
}

nav {
	font-size: 1.2em;
	width: 50%;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: #000000; 
	width: 25%;
	text-align: center;
	display: inline-block;
}

a:hover {color: #aaaaaa;	
}

body {
	font-size: 25px;
}

div {
background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#hero { 
	display: block;
	width: 100%;
	margin: 0 auto;
	background-color:#FFED74;
	border: none;
	text-align: center;
}

h1
	{ 
	color: rgb(255,113,0);
	text-align: center;
	font-family: 'Oleo Script', cursive;
	font-size: 3em;

}

h2
{
	color: rgb(255,113,0);
	text-align: center;
	font-family: 'Oleo Script', cursive;
	font-size: 2em
}

section 
{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	}

.maincontent {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

.right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 42%;

}

.full_img {
	max-width: 100%;
	width: 100%;
}

.left {
	background-color: violet;
	padding:20px;
	border: 1px black solid;		
	float: left;
	width: 50%;
	padding: 40px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.map {
	clear: both;
}


img {
	vertical-align: middle;
}

h3
{
	font-family: 'Slabo,' serif;
	font-size: 1.25em;
	padding: .8em .8em;
	text-transform: uppercase;
	border-bottom: 4px double black;
	display: inline-block;
	font-weight: 800;
}

p, ul
{
	text-align: left;
	color: rgb(110,12,232);
	font-size: 22px;
	font-family: 'Slabo', serif;
}


footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px; 
}