@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;	
}

body {
	font-size: 25px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

div {
background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

section
{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

h1
	{ 
	color: rgb(255,113,0);
	text-align: center;
	font-family: 'Oleo Script', cursive;
	font-size: 3em;
	border-bottom: 4px double black;
	display: inline-block;
}

img {
	display: block;
	margin: 0 auto;
}

h2
{
	color: rgb(255,113,0);
	text-align: center;
	font-family: 'Oleo Script', cursive;
	font-size: 2em
}

p, ul
{
	text-align: left;
	color: rgb(110,12,232);
	font-size: 22px;
	font-family: 'Slabo', serif;
	padding: 0 4em;
	margin: 0 2em;
}

h3
{
	font-style: italic;
	font-family: 'Slabo,' serif;
	font-size: 1.25em;
	padding: .8em .8em;
	text-transform: uppercase;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px; 
}