body {
	font-family: Arial;
	background: url("https://loveincorporated.blob.core.windows.net/contentimages/main/fruity+coleslaw+cropped.jpg");
	background-size: cover;
	font-size: 22px
}

blockquote 
{ 
color: rgb(110,12,232);
text-align: center;
}

h1, h3
{
	color: rgb(67,194,255);
	text-align: center;
}

p, ul
{
	text-align: left;
	color: rgb(67,194,255);
	font-size: 22px
}

h3
{
	font-style: italic;
}

