body {
	font-family: Arial;
	background: url("images/handmadecaribbeanfood.jpg");
	background-size: cover;
}

p, blockquote 
{ 
color: rgb(110,12,232);
text-align: center;
}

h1, h3
{
	color: rgb(67,194,255);
	text-align: center;
}

ul
{
	text-align: left;
}

h3
{
	font-style: italic;
}

